.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
  }
  
  .modal-content {
    text-align: center;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F8AB47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #F8AB47;
  }